.time-picker {
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle;
}

.time-picker * {
  box-sizing: border-box;
}

.time-picker input.display-time {
  border: 1px solid #dcdfe6;
  width: 100%;
  border-radius: 4px;
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
}

.time-picker input.display-time:focus {
  outline: none;
  border-color: #ff674d;
}

.time-picker .clear-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: color .2s;
  width: 16px;
  height: 16px;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
  border: 1px solid #dcdfe6;
  color: #dcdfe6;
}

.time-picker .clear-btn:hover {
  cursor: pointer;
}

.time-picker .time-picker-overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.time-picker .dropdown {
  position: absolute;
  z-index: 5;
  top: 52px;
  left: 0;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0,0.15);
  width: 10em;
  height: 10em;
  font-weight: normal;
}

.time-picker .dropdown .select-list {
  width: 10em;
  height: 10em;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
}

.time-picker .dropdown ul {
  padding: 0;
  margin: 0;
  list-style: none;

  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.time-picker .dropdown ul.minutes,
.time-picker .dropdown ul.seconds,
.time-picker .dropdown ul.apms{
  border-left: 1px solid #fff;
}

.time-picker .dropdown ul li {
  text-align: center;
  padding: 0.3em 0;
  color: #161616;
}

.time-picker .dropdown ul li:not(.hint):hover {
  background: rgba(0,0,0,.08);
  color: #161616;
  cursor: pointer;
}

.time-picker .dropdown ul li.active,
.time-picker .dropdown ul li.active:hover {
  background: #ff674d;
  color: #fff;
}

.time-picker .dropdown .hint {
  color: #a5a5a5;
  cursor: default;
  font-size: 12px;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.btns {
  display: flex;
  height: 30px;
  font-size: 12px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.15);
}

.comfirm-btn {
  width: 0;
  flex-grow: 1;
  background-color: #ff674d;
  color: #fff;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
}
.cancel-btn {
  width: 0;
  flex-grow: 1;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
}